@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #fff;
  overflow-x: hidden;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  background-color: #196d6a;
}

nav a {
  color: #000;
  text-decoration: none;
  margin: 10px 0 10px 40px;
  font-size: 24px;
}

main {
  position: relative;
  z-index: 2;
  background-color: #fff;
  min-height: 100vh;
  transition: background-color 1s, transform 0.5s;
}
main.main-on-gallery {
  position: ;
}

.open {
  transform: translateX(250px);
  transition: transform 0.5s;
}

a.nav-button {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  text-decoration: none;
  color: #000;
  vertical-align: middle;
}
a.nav-button img {
  width: 40px;
  vertical-align: middle;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main div {
  width: 450px;
}

.main .content {
  margin-left: 60px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

p {
  font-size: 24px;
  margin: 20px 0 20px 0;
}

a.button {
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border: 3px solid #000;
  display: inline-block;
}
div.photos {
  position: relative;
  height: 314px;
}

div.photos img {
  position: absolute;
  width: 470px;
  top: 50px;
  left: 0;
  transition: transform 0.5s, box-shadow 0.5s;
}

div.photos img:first-child {
  z-index: 1;
}
div.photos:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer p {
  font-size: 14px;
  margin: 5px 0 5px 0;
}

/* Gallery Photos */

div.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.photo-gallery img {
  width: 900px;
  padding: 100px 0 100px 0;
}

div.progress {
  display: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

div.progress div.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #7ed5bf;
}
